<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Police Use of Force: Minneapolis</title>
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Minneapolis Police Use of Force Dashboard</h1>
      {% for post in posts %}
      <a href="#">
          <h2>{{ post['title'] }}</h2>
      </a>
      <span class="badge badge-primary">{{ post['created'] }}</span>
      <hr>
    {% endfor %}
    </div>
  </div>
  </div>
</body>

</html>
